martj/src/java/org/biomart/builder/resources/MartBuilder-0.7.dtd

<!--
#
#        Copyright (C) 2006 EBI
# 
#        This library is free software; you can redistribute it and/or
#        modify it under the terms of the GNU Lesser General Public
#        License as published by the Free Software Foundation; either
#        version 2.1 of the License, or (at your option) any later version.
# 
#        This library is distributed in the hope that it will be useful,
#        but WITHOUT ANY WARRANTY; without even the itmplied warranty of
#        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#        Lesser General Public License for more details.
# 
#        You should have received a copy of the GNU Lesser General Public
#        Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

# DTD for MartBuilder XML files
# author: Richard Holland, <holland@ebi.ac.uk>
# version $Revision: 1.38 $, $Date: 2008-03-12 14:22:38 $, modified by $Author: rh4 $
# since: 0.1
-->

<!ELEMENT mart (jdbcSchema+,relation*,dataset*)>
<!ATTLIST mart outputDatabase CDATA #IMPLIED>
<!ATTLIST mart outputSchema CDATA #IMPLIED>
<!ATTLIST mart outputHost CDATA #IMPLIED>
<!ATTLIST mart outputPort CDATA #IMPLIED>
<!ATTLIST mart overrideHost CDATA #IMPLIED>
<!ATTLIST mart overridePort CDATA #IMPLIED>
<!ATTLIST mart nameCase CDATA #IMPLIED>
<!ATTLIST mart hideMaskedDataSets (true|false) #IMPLIED>
<!ATTLIST mart hideMaskedSchemas (true|false) #IMPLIED>

<!ELEMENT jdbcSchema (table+,relation*)>
<!ATTLIST jdbcSchema uniqueId CDATA #IMPLIED>
<!ATTLIST jdbcSchema driverClassName CDATA #REQUIRED>
<!ATTLIST jdbcSchema url CDATA #REQUIRED>
<!ATTLIST jdbcSchema databaseName CDATA #REQUIRED>
<!ATTLIST jdbcSchema schemaName CDATA #REQUIRED>
<!ATTLIST jdbcSchema username CDATA #REQUIRED>
<!ATTLIST jdbcSchema password CDATA #IMPLIED>
<!ATTLIST jdbcSchema name CDATA #REQUIRED>
<!ATTLIST jdbcSchema keyguessing (true|false) #REQUIRED>
<!ATTLIST jdbcSchema partitionRegex CDATA #IMPLIED>
<!ATTLIST jdbcSchema partitionExpression CDATA #IMPLIED>
<!ATTLIST jdbcSchema masked (true|false) #IMPLIED>
<!ATTLIST jdbcSchema hideMasked (true|false) #IMPLIED>

<!ELEMENT relation EMPTY>
<!ATTLIST relation id ID #REQUIRED>
<!ATTLIST relation cardinality (1|M) #REQUIRED>
<!ATTLIST relation originalCardinality (1|M) #REQUIRED>
<!ATTLIST relation firstKeyId IDREF #REQUIRED>
<!ATTLIST relation secondKeyId IDREF #REQUIRED>
<!ATTLIST relation status (MODIFIED|HANDMADE|INFERRED|INFERRED_INCORRECT) #REQUIRED>
<!ATTLIST relation visibleModified (true|false) #IMPLIED>

<!ELEMENT table (column+,primaryKey?,foreignKey*)>
<!ATTLIST table uniqueId CDATA #IMPLIED>
<!ATTLIST table id ID #REQUIRED>
<!ATTLIST table name CDATA #REQUIRED>
<!ATTLIST table ignore (true|false) #IMPLIED>
<!ATTLIST table inSchemaPartition CDATA #IMPLIED>

<!ELEMENT column EMPTY>
<!ATTLIST column id ID #REQUIRED>
<!ATTLIST column name CDATA #REQUIRED>
<!ATTLIST column visibleModified (true|false) #IMPLIED>
<!ATTLIST column inSchemaPartition CDATA #IMPLIED>

<!ELEMENT primaryKey EMPTY>
<!ATTLIST primaryKey id ID #REQUIRED>
<!ATTLIST primaryKey columnIds IDREFS #REQUIRED>
<!ATTLIST primaryKey status (HANDMADE|INFERRED|INFERRED_INCORRECT) #REQUIRED>
<!ATTLIST primaryKey visibleModified (true|false) #IMPLIED>

<!ELEMENT foreignKey EMPTY>
<!ATTLIST foreignKey id ID #REQUIRED>
<!ATTLIST foreignKey columnIds IDREFS #REQUIRED>
<!ATTLIST foreignKey status (HANDMADE|INFERRED|INFERRED_INCORRECT) #REQUIRED>
<!ATTLIST foreignKey visibleModified (true|false) #IMPLIED>

<!ELEMENT dataset (
compoundRelation*,subclassRelation*,maskedColumn*,
indexedColumn*,maskedRelation*,alternativeJoin*,transformStart*,maskedTable*,
mergedRelation*,loopbackRelation*,forcedRelation*,restrictedTable*,
restrictedRelation*,expressionColumn*,renamedTable*,
renamedColumn*,distinctRows*,noFinalLeftJoin*,skipOptimiser*,skipIndexOptimiser*,unrolledRelation*,explainHideMasked*,
visibleModified*,bigTable*,splitOptimiser*,tableHideMasked*)>
<!ATTLIST dataset name CDATA #REQUIRED>
<!ATTLIST dataset centralTableId IDREF #REQUIRED>
<!ATTLIST dataset optimiser (COLUMN_INHERIT|COLUMN_BOOL_INHERIT|COLUMN_BOOL_NULL_INHERIT|TABLE_INHERIT|TABLE_BOOL_INHERIT|TABLE_BOOL_NULL_INHERIT|NONE) #REQUIRED>
<!ATTLIST dataset indexOptimiser (true|false) #REQUIRED>
<!ATTLIST dataset invisible (true|false) #REQUIRED>
<!ATTLIST dataset masked (true|false) #IMPLIED>
<!ATTLIST dataset hideMasked (true|false) #IMPLIED>

<!ELEMENT explainHideMasked EMPTY>
<!ATTLIST explainHideMasked tableKey CDATA #REQUIRED>

<!ELEMENT tableHideMasked EMPTY>
<!ATTLIST tableHideMasked tableKey CDATA #REQUIRED>

<!ELEMENT visibleModified EMPTY>
<!ATTLIST visibleModified key CDATA #REQUIRED>

<!ELEMENT subclassRelation EMPTY>
<!ATTLIST subclassRelation relationId IDREF #REQUIRED>

<!ELEMENT compoundRelation EMPTY>
<!ATTLIST compoundRelation tableKey CDATA #REQUIRED>
<!ATTLIST compoundRelation relationId IDREF #REQUIRED>
<!ATTLIST compoundRelation n CDATA #REQUIRED>
<!ATTLIST compoundRelation parallel (true|false) #REQUIRED>

<!ELEMENT unrolledRelation EMPTY>
<!ATTLIST unrolledRelation relationId IDREF #REQUIRED>
<!ATTLIST unrolledRelation columnId IDREF #REQUIRED>
<!ATTLIST unrolledRelation reversed (true|false) #IMPLIED>

<!ELEMENT renamedTable EMPTY>
<!ATTLIST renamedTable tableKey CDATA #REQUIRED>
<!ATTLIST renamedTable newName CDATA #REQUIRED>

<!ELEMENT splitOptimiser EMPTY>
<!ATTLIST splitOptimiser tableKey CDATA #REQUIRED>
<!ATTLIST splitOptimiser colKey CDATA #REQUIRED>
<!ATTLIST splitOptimiser contentCol CDATA #REQUIRED>
<!ATTLIST splitOptimiser separator CDATA #REQUIRED>
<!ATTLIST splitOptimiser prefix (true|false) #IMPLIED>
<!ATTLIST splitOptimiser suffix (true|false) #IMPLIED>
<!ATTLIST splitOptimiser size CDATA #IMPLIED>

<!ELEMENT renamedColumn EMPTY>
<!ATTLIST renamedColumn tableKey CDATA #REQUIRED>
<!ATTLIST renamedColumn colKey CDATA #REQUIRED>
<!ATTLIST renamedColumn newName CDATA #REQUIRED>

<!ELEMENT maskedColumn EMPTY>
<!ATTLIST maskedColumn tableKey CDATA #REQUIRED>
<!ATTLIST maskedColumn colKey CDATA #REQUIRED>

<!ELEMENT indexedColumn EMPTY>
<!ATTLIST indexedColumn tableKey CDATA #REQUIRED>
<!ATTLIST indexedColumn colKey CDATA #REQUIRED>

<!ELEMENT maskedRelation EMPTY>
<!ATTLIST maskedRelation tableKey CDATA #REQUIRED>
<!ATTLIST maskedRelation relationId IDREF #REQUIRED>

<!ELEMENT alternativeJoin EMPTY>
<!ATTLIST alternativeJoin tableKey CDATA #REQUIRED>
<!ATTLIST alternativeJoin relationId IDREF #REQUIRED>

<!ELEMENT transformStart EMPTY>
<!ATTLIST transformStart tableKey CDATA #REQUIRED>
<!ATTLIST transformStart tableId IDREF #REQUIRED>

<!ELEMENT maskedTable EMPTY>
<!ATTLIST maskedTable tableKey CDATA #REQUIRED>

<!ELEMENT mergedRelation EMPTY>
<!ATTLIST mergedRelation relationId IDREF #REQUIRED>

<!ELEMENT loopbackRelation EMPTY>
<!ATTLIST loopbackRelation tableKey CDATA #REQUIRED>
<!ATTLIST loopbackRelation relationId IDREF #REQUIRED>
<!ATTLIST loopbackRelation diffColumnId IDREF #REQUIRED>

<!ELEMENT forcedRelation EMPTY>
<!ATTLIST forcedRelation tableKey CDATA #REQUIRED>
<!ATTLIST forcedRelation relationId IDREF #REQUIRED>

<!ELEMENT distinctRows EMPTY>
<!ATTLIST distinctRows tableKey CDATA #REQUIRED>

<!ELEMENT noFinalLeftJoin EMPTY>
<!ATTLIST noFinalLeftJoin tableKey CDATA #REQUIRED>

<!ELEMENT skipOptimiser EMPTY>
<!ATTLIST skipOptimiser tableKey CDATA #REQUIRED>

<!ELEMENT skipIndexOptimiser EMPTY>
<!ATTLIST skipIndexOptimiser tableKey CDATA #REQUIRED>

<!ELEMENT restrictedTable EMPTY>
<!ATTLIST restrictedTable tableKey CDATA #REQUIRED>
<!ATTLIST restrictedTable tableId IDREF #REQUIRED>
<!ATTLIST restrictedTable aliasColumnIds IDREFS #REQUIRED>
<!ATTLIST restrictedTable aliasNames CDATA #REQUIRED>
<!ATTLIST restrictedTable expression CDATA #REQUIRED>

<!ELEMENT bigTable EMPTY>
<!ATTLIST bigTable tableKey CDATA #REQUIRED>
<!ATTLIST bigTable tableId IDREF #REQUIRED>
<!ATTLIST bigTable bigness CDATA #REQUIRED>

<!ELEMENT restrictedRelation EMPTY>
<!ATTLIST restrictedRelation tableKey CDATA #REQUIRED>
<!ATTLIST restrictedRelation relationId IDREF #REQUIRED>
<!ATTLIST restrictedRelation index CDATA #REQUIRED>
<!ATTLIST restrictedRelation leftAliasColumnIds IDREFS #REQUIRED>
<!ATTLIST restrictedRelation leftAliasNames CDATA #REQUIRED>
<!ATTLIST restrictedRelation rightAliasColumnIds IDREFS #REQUIRED>
<!ATTLIST restrictedRelation rightAliasNames CDATA #REQUIRED>
<!ATTLIST restrictedRelation expression CDATA #REQUIRED>

<!ELEMENT expressionColumn EMPTY>
<!ATTLIST expressionColumn tableKey CDATA #REQUIRED>
<!ATTLIST expressionColumn colKey CDATA #REQUIRED>
<!ATTLIST expressionColumn aliasColumnNames CDATA #REQUIRED>
<!ATTLIST expressionColumn aliasNames CDATA #REQUIRED>
<!ATTLIST expressionColumn expression CDATA #REQUIRED>
<!ATTLIST expressionColumn groupBy  (true|false) #REQUIRED>

<!ELEMENT datasetPartitionTable (partitionRegex*,partitionApplication*)>
<!ATTLIST datasetPartitionTable name CDATA #REQUIRED>
<!ATTLIST datasetPartitionTable selectedColumns CDATA #REQUIRED>

<!ELEMENT partitionRegex EMPTY>
<!ATTLIST partitionRegex name CDATA #REQUIRED>
<!ATTLIST partitionRegex match CDATA #REQUIRED>
<!ATTLIST partitionRegex replace CDATA #REQUIRED>

<!ELEMENT partitionApplication EMPTY>
<!ATTLIST partitionApplication name CDATA #REQUIRED>
<!ATTLIST partitionApplication dimension CDATA #IMPLIED>
<!ATTLIST partitionApplication pCols CDATA #REQUIRED>
<!ATTLIST partitionApplication dsCols CDATA #REQUIRED>
<!ATTLIST partitionApplication relationIds IDREFS #REQUIRED>
<!ATTLIST partitionApplication nameCols CDATA #REQUIRED>
<!ATTLIST partitionApplication compounds CDATA #REQUIRED>
