martj/src/java/org/biomart/builder/resources/MartBuilder-0.5.dtd

<!--
#
#        Copyright (C) 2006 EBI
# 
#        This library is free software; you can redistribute it and/or
#        modify it under the terms of the GNU Lesser General Public
#        License as published by the Free Software Foundation; either
#        version 2.1 of the License, or (at your option) any later version.
# 
#        This library is distributed in the hope that it will be useful,
#        but WITHOUT ANY WARRANTY; without even the itmplied warranty of
#        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#        Lesser General Public License for more details.
# 
#        You should have received a copy of the GNU Lesser General Public
#        Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

# DTD for MartBuilder XML files
# author: Richard Holland, <holland@ebi.ac.uk>
# version $Revision: 1.4 $, $Date: 2006-10-26 09:02:15 $, modified by $Author: rh4 $
# since: 0.1
-->

<!ELEMENT mart ((schemaGroup|jdbcSchema)+,relation*,dataset*)>

<!ELEMENT schemaGroup (table+,relation*,jdbcSchema+)>
<!ATTLIST schemaGroup name CDATA #REQUIRED>

<!ELEMENT jdbcSchema (table+,relation*)>
<!ATTLIST jdbcSchema driverClassLocation CDATA #IMPLIED>
<!ATTLIST jdbcSchema driverClassName CDATA #REQUIRED>
<!ATTLIST jdbcSchema url CDATA #REQUIRED>
<!ATTLIST jdbcSchema schemaName CDATA #REQUIRED>
<!ATTLIST jdbcSchema username CDATA #REQUIRED>
<!ATTLIST jdbcSchema password CDATA #IMPLIED>
<!ATTLIST jdbcSchema name CDATA #REQUIRED>
<!ATTLIST jdbcSchema keyguessing (true|false) #REQUIRED>

<!ELEMENT relation EMPTY>
<!ATTLIST relation id ID #REQUIRED>
<!ATTLIST relation cardinality (1|M) #REQUIRED>
<!ATTLIST relation firstKeyId IDREF #REQUIRED>
<!ATTLIST relation secondKeyId IDREF #REQUIRED>
<!ATTLIST relation status (HANDMADE|INFERRED|INFERRED_INCORRECT) #REQUIRED>
<!ATTLIST relation alt CDATA #REQUIRED>

<!ELEMENT dataset (table+,relation*,concatRelation*,restrictedTable*,maskedRelation*,subclassRelation*)>
<!ATTLIST dataset name CDATA #REQUIRED>
<!ATTLIST dataset centralTableId IDREF #REQUIRED>
<!ATTLIST dataset alt CDATA #REQUIRED>
<!ATTLIST dataset optimiser (COLUMN|TABLE|NONE) #REQUIRED>
<!ATTLIST dataset invisible (true|false) #REQUIRED>

<!ELEMENT table (column+,primaryKey?,foreignKey*)>
<!ATTLIST table id ID #REQUIRED>
<!ATTLIST table name CDATA #REQUIRED>
<!ATTLIST table originalName CDATA #REQUIRED>
<!ATTLIST table type (MAIN|MAIN_SUBCLASS|DIMENSION) #IMPLIED>
<!ATTLIST table underlyingTableId IDREF #IMPLIED>
<!ATTLIST table underlyingRelationIds IDREFS #IMPLIED>
<!ATTLIST table underlyingKeyIds IDREFS #IMPLIED>
<!ATTLIST table sourceRelationId IDREF #IMPLIED>

<!ELEMENT column EMPTY>
<!ATTLIST column id ID #REQUIRED>
<!ATTLIST column name CDATA #REQUIRED>
<!ATTLIST column originalName CDATA #REQUIRED>
<!ATTLIST column underlyingRelationId IDREF #IMPLIED>
<!ATTLIST column dependency (true|false) #IMPLIED>
<!ATTLIST column masked (true|false) #IMPLIED>
<!ATTLIST column alt CDATA #IMPLIED>
<!ATTLIST column type (concatRelation|schemaName|wrapped|inherited|expression) #IMPLIED>
<!ATTLIST column wrappedColumnAlt CDATA #IMPLIED>
<!ATTLIST column inheritedColumnAlt CDATA #IMPLIED>
<!ATTLIST column partitionType (null|singleValue|uniqueValues|valueCollection) #IMPLIED>
<!ATTLIST column partitionUseNull (true|false) #IMPLIED>
<!ATTLIST column partitionValue CDATA #IMPLIED>
<!ATTLIST column partitionValues CDATA #IMPLIED>
<!ATTLIST column aliasColumnIds IDREFS #IMPLIED>
<!ATTLIST column aliasColumnNames CDATA #IMPLIED>
<!ATTLIST column expression CDATA #IMPLIED>
<!ATTLIST column groupBy (true|false) #IMPLIED>

<!ELEMENT primaryKey EMPTY>
<!ATTLIST primaryKey id ID #REQUIRED>
<!ATTLIST primaryKey columnIds IDREFS #REQUIRED>
<!ATTLIST primaryKey status (HANDMADE|INFERRED|INFERRED_INCORRECT) #REQUIRED>
<!ATTLIST primaryKey alt CDATA #REQUIRED>

<!ELEMENT foreignKey EMPTY>
<!ATTLIST foreignKey id ID #REQUIRED>
<!ATTLIST foreignKey columnIds IDREFS #REQUIRED>
<!ATTLIST foreignKey status (HANDMADE|INFERRED|INFERRED_INCORRECT) #REQUIRED>
<!ATTLIST foreignKey alt CDATA #REQUIRED>

<!ELEMENT concatRelation EMPTY>
<!ATTLIST concatRelation relationId IDREF #REQUIRED>
<!ATTLIST concatRelation columnSeparator CDATA #REQUIRED>
<!ATTLIST concatRelation recordSeparator CDATA #REQUIRED>
<!ATTLIST concatRelation concatColumnIds IDREFS #REQUIRED>
<!ATTLIST concatRelation alt CDATA #REQUIRED>

<!ELEMENT restrictedTable EMPTY>
<!ATTLIST restrictedTable tableId IDREF #REQUIRED>
<!ATTLIST restrictedTable expression CDATA #REQUIRED>
<!ATTLIST restrictedTable aliasColumnIds IDREFS #REQUIRED>
<!ATTLIST restrictedTable aliasColumnNames CDATA #REQUIRED>
<!ATTLIST restrictedTable alt CDATA #REQUIRED>

<!ELEMENT maskedRelation EMPTY>
<!ATTLIST maskedRelation relationId IDREF #REQUIRED>
<!ATTLIST maskedRelation alt CDATA #REQUIRED>

<!ELEMENT subclassRelation EMPTY>
<!ATTLIST subclassRelation relationId IDREF #REQUIRED>
<!ATTLIST subclassRelation alt CDATA #REQUIRED>

